
.container {
    max-width: 100wh;
    margin: 0 auto;

}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 24.99%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.46%;
}
.col-6 {
    width: 49.89%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-111 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

/* Dropdown Button */

@media screen and (min-width: 952px) and (max-width: 1100px) {        
    .menu2 {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
        
    }
    i .menu-icon-1 {
        width: 100%;
    }
    .flex-end-1 {
        justify-content: flex-end;}
    .dropbtn {
        display: flex;
        padding-right: 10px;
        color: white;      
        border: none;  
        justify-content: flex-end;

      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        display: none;
        position: relative;
        justify-content: flex-end;
        display: flex;

      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 5;
        width: 30%;
        margin-top: 80px;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 40px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        color: aliceblue;
       
    }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
    }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */

    .dropdown:hover i {
        display: none;
    }
   



      }



      @media screen and (min-width:501px) and (max-width: 952px) {        
        .overlay a {
          margin-top: 20%;
        }
        .menu {
          height: 8%;
        }

        .menu2 {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            flex-direction: column;
            
        }
        i .menu-icon-1 {
            width: 100%;
        }
        .flex-end-1 {
            justify-content: flex-end;}
        .dropbtn {
            display: flex;
            padding-right: 10px;
            color: white;      
            border: none;  
            justify-content: flex-end;
    
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            display: none;
            position: relative;
            justify-content: flex-end;
            display: flex;
    
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 5;
            width: 30%;
            margin-top: 10%;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            padding: 15px 16px;
            text-decoration: none;
            display: block;
            font-size: 0.6rem;
            display: inline-block;
          }
          
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {
            color: aliceblue;
           
        }
          
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: block;
        }
          
          /* Change the background color of the dropdown button when the dropdown content is shown */
    
        .dropdown:hover i {
            display: none;
        }

        .logo-img  {
          height: 45px;
          float: left;
      }
      .col-md-12 {
        width: 100%;
      }
       
    
    
    
          }


          @media screen and (max-width: 500px) {        
            .overlay a {
              margin-top: 2px;
            }
            .col-md-12 {
              width: 100%;
            }
            
            .menu {
              height: 6%;
            }

            .menu2 {
                display: flex;
                justify-content: flex-end;
                flex-wrap: nowrap;
                flex-direction: column;
                
            }
            i .menu-icon-1 {
                width: 100%;
            }
            .flex-end-1 {
                justify-content: flex-end;}
            .dropbtn {
                display: flex;
                padding-right: 10px;
                color: white;      
                border: none;  
                justify-content: flex-end;
        
              }
              
              /* The container <div> - needed to position the dropdown content */
              .dropdown {
                display: none;
                position: relative;
                justify-content: flex-end;
                display: flex;
        
              }
              
              /* Dropdown Content (Hidden by Default) */
              .dropdown-content {
                display: none;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 5;
                width: 100%;
                margin-top: 1%;
              }
              
              /* Links inside the dropdown */
              .dropdown-content a {
                color: black;
                padding: 5px 20px;
                text-decoration: none;
                display: block;
                font-size: 0.4rem;
                display: inline-block;
              }
              
              /* Change color of dropdown links on hover */
              .dropdown-content a:hover {
                color: aliceblue;
               
            }
              
              /* Show the dropdown menu on hover */
              .dropdown:hover .dropdown-content {
                display: block;
            }
              
              /* Change the background color of the dropdown button when the dropdown content is shown */
        
            .dropdown:hover i {
                display: none;
            }
            .logo-img  {
              height: 29px;
             
          }
          
        
        
        
              }
              @media screen and (min-width: 953px) {
                .logo-img  {
                  height: 55px;
                  display: flex;
                  align-items: center;

                
              } 
              .menu {
                height: 10%;
              }

              .overlay a {
                margin-top: 30%;
              }
                }

    
